<.partials_header
  title="Dashboard"
  sidebar_toggle={@sidebar_toggle}
  menu_toggle={@menu_toggle}
  dark_mode={@dark_mode}
  notification_dropdown_open={@notification_dropdown_open}
  notifying={@notifying}
  user_dropdown_open={@user_dropdown_open}
/>

<div class="home">
  <.header/>
  <.message text={@message}/>
</div>
