<main role="main">

  <div class="flash-messages">
    <.layout_flash flash={@flash} kind={:success} />
    <.layout_flash flash={@flash} kind={:error} />
    <.layout_flash flash={@flash} kind={:info} />
  </div>

  <%= @inner_content %>
</main>
